@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm A Parent Get Them Out Of Here is a responsive, application that provides instant updates on activity availabilities.</p>
