@{
    ViewBag.Title = "Our Contacts Page";
}
<h2>@ViewBag.Title.</h2>
<br />
<h4>@ViewBag.Message</h4>

<address>
    One Prospect Place<br />
    Rathfarnham<br />
    Dublin 16<br />
    <br />
    <abbr title="Phone">Ph:</abbr>
    00 353 87 8796589
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:Admin@Imaparentgetthemoutofhere.com">Admin@Imaparentgetthemoutofhere.com</a><br />
    <strong>Queries:</strong> <a href="mailto:Queries@Imaparentgetthemoutofhere.com">Marketing@Imaparentgetthemoutofhere.com</a>
</address>